/*font-family: 'Sedgwick Ave', cursive;*/

.about-left {
    width: 40%;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid red;
}

.about-right  {
    width: 40%;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid red;
    float: right;

}


.about-contianer {
       width: 60%;
        background-color: blue;
        height: 300px;

}

.pink {
background-color: pink;
border: 1px solid purple;
height: 100px;
}

.about-section-content  {
    font-size: 2em;
    
}


