.formcontainer {
    width: 80%;
    height: 500px; }
    .about-left {
        width: 40%;
        height: 100px;
        background-color: aquamarine;
        border: 1px solid red; }
      
      .about-right {
        width: 40%;
        height: 100px;
        background-color: aquamarine;
        border: 1px solid red;
        float: right; }
      
      .about-contianer {
        width: 60%;
        background-color: blue;
        height: 300px; }
      
      .pink {
        background-color: pink;
        border: 1px solid purple;
        height: 100px; }
      
      .about-section-content {
        font-size: 2em; }
     

        .container{
            width: 80%;
        }

        .suck {
            width: 80%;
            margin: 0 auto;
        }
