* {
    margin: 0;
    padding: 0; }
  
  body {
    position: relative;
    background: url("http://thecodeplayer.com/u/m/b1.png") no-repeat center center fixed;
    background-size: cover;
    min-width: 500px;
    min-height: 200px;
    color: #fff;
    font-family: 'Montserrat';
    height: 100vmax;
    width: 100%;

}

.topbar {
  width: 90%;
  margin: 0 auto;
}