#portfolio {
    width: 100%;
    
}


.project1 {
    border: 1px solid red;
    padding: 0 5px 0 5px;
    height: 200px;
    width: 200px;

}
.project2 {
    border: 1px solid red;
    padding: 0 20px 0 20px;
    height: 200px;
    width: 200px;
}
.project3 {
    border: 1px solid red;
    padding: 0 5px 0 5px;
    height: 200px;
    width: 200px;
}
.project4 {
    border: 1px solid red;
    padding: 0 5px 0 5px;
    height: 200px;
    width: 200px;
}
.project5{
    border: 1px solid red;
    padding: 0 5px 0 5px;
    height: 200px;
    width: 200px;
}
.project6{
    border: 1px solid red;
    padding: 0 5px 0 5px;
    height: 200px;
    width: 200px;
}


.formcontainer {
    width: 80%;
    height: 500px;
}

.contactme {
    width: 80%;
}


.contactform {
    margin: 5% 0 20% 0;
}

.contactsubmit {
    height: 20%;
}

.projectdown  {
    margin: 20%;
}