#portfolio {
    width: 100%;
    
}




.formcontainer {
    width: 80%;
    height: 500px;
}

.contactme {
    width: 80%;
}


.contactform {
    margin: 5% 0 20% 0;
}

.contactsubmit {
    height: 20%;
}

.projectdown  {
    margin: 20%;
}

.project3 {
    background-image: url("https://i.lensdump.com/i/FeR33.png");
    background-size: inherit;
    background-repeat: no-repeat;
    margin: 5%;

}

.cssmonster {
    margin: 5%;
    background-image: url("https://i.lensdump.com/i/FekWD.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-row {

    height: 30%;
}

.project1 {
    margin-bottom: 5%;
}

.project1 {
    
    padding: 0 5px 0 5px;
    height: 400px;
    width: 400px; }

    .project3 {
        margin-bottom: 5%;
        padding: 0 5px 0 5px;
        height: 400px;
        width: 400px; }


        .wontwork {
            margin: 0 auto;
        }